        <!-- Compatability Metadata -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Site name Metadata -->
        <title>PieBot &bull; <%- description %></title>

        <meta name="name" content="PieBot">
        <meta name="description" content="<%- description %>">

        <!-- Ownership  Metadata -->
        <meta name="author" content="oskikiboy">
        <meta name='designer' content='oskikiboy'>
        <meta name='owner' content='TheFallingPie, oskikiboy'>

        <!-- Search Engine Optimisation Metadata -->
        <meta name='keywords' content='discord-bot, discord, discord-js, pie ,piebot, food, f00d, yummy, topic, mynameisjeff, jeff, fresh, old, new, modern, words, cats, dogs, bork, woof'>
        <meta name='Classification' content='Discord Bot'>
        <meta name="url" content="<%- url %>">
        <meta name='identifier-URL' content='<%- url %>'>

        <!-- Icons Metadata -->
        <link rel='shortcut icon' type='image/png' href='/img/icon.png'>
        <link rel='fluid-icon' type='image/png' href='/img/icon.png'>
        <link rel='logo' type='image/png' href='/img/icon.png'>
        <link rel='image_src' type='image/png' href='/img/icon.png'>
        <meta name="image" content="/img/icon.png">
        <meta name="twitter:image:src" content="/img/icon.png">
        <meta property="og:image" content="/img/icon.png">

        <!-- Twiiter Metadata -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="PieBot">
        <meta name="twitter:description" content="<%- description %>">

        <!-- Open Graph Metadata -->
        <meta property="og:title" content="PieBot">
        <meta property="og:type" content="website">
        <meta property="og:url" content="<%- url %>">
        <meta property="og:description" content="<%- description %>">
        <meta property="og:site_name" content="PieBot">

        <!-- Web Resources -->
        <link rel="stylesheet" type="text/css" href="/css/dependencies/bulma.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">